<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

<!--    <context:property-placeholder location="classpath*:bot.properties"/>-->

    <bean id="properties"  class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:bot.properties</value>
            </list>
        </property>
    </bean>
    <bean id="telegramBotsApi" class="org.telegram.telegrambots.TelegramBotsApi"/>
    <bean id="log" class="org.apache.logging.log4j.Logger"/>

</beans>